._2cQ0zrThG2JrDELiKHvsIZ {
  display: block; }
  ._2cQ0zrThG2JrDELiKHvsIZ .fDCloRXyceOjy9IRbtN_G {
    display: inline-block;
    width: 150px;
    height: 60px;
    text-align: center; }
    ._2cQ0zrThG2JrDELiKHvsIZ .fDCloRXyceOjy9IRbtN_G ._1USexW24kQc9C8hHp2Cc3r {
      display: inline-block;
      text-decoration: none;
      width: 100%;
      height: 60px;
      line-height: 60px;
      color: #000; }
    ._2cQ0zrThG2JrDELiKHvsIZ .fDCloRXyceOjy9IRbtN_G.ef2t1Jk5BVySo1OPEf06c, ._2cQ0zrThG2JrDELiKHvsIZ .fDCloRXyceOjy9IRbtN_G:hover {
      color: #1890ff;
      border-top: 2px solid #1890ff; }
      ._2cQ0zrThG2JrDELiKHvsIZ .fDCloRXyceOjy9IRbtN_G.ef2t1Jk5BVySo1OPEf06c ._1USexW24kQc9C8hHp2Cc3r, ._2cQ0zrThG2JrDELiKHvsIZ .fDCloRXyceOjy9IRbtN_G:hover ._1USexW24kQc9C8hHp2Cc3r {
        color: #1890ff; }

._28SWL-KSo7AARaBLKb7x2H {
  text-align: center; }

._3yirPueJJqd6pG4pc0Oc2k {
  width: 100%;
  height: 100%; }

._3P8epSrBPhZcgCvpgZrndg {
  width: 100%;
  height: 100%; }
  ._3P8epSrBPhZcgCvpgZrndg ._1d5QcLBizUX5lMmsP5rY1M {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px #f0f1f2; }
  ._3P8epSrBPhZcgCvpgZrndg ._15Ir1gblUo25dVqqLsTnvP {
    width: 100%;
    height: 100%;
    margin-top: -60px;
    padding-top: 80px;
    box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

html, body, #IEf3n0apVCUHYJWVlOK6T {
  width: 100%;
  height: 100%; }

