.HomePage__navBar-jaAE3 li {
  width: 100px;
  height: 100%;
  display: inline-block;
  text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

html, body, #index__app-13VL3 {
  width: 100%;
  height: 100%; }

