.HomePage__home-1rQus .HomePage__title-2Dbby {
  text-align: center;
  height: 30px;
  width: 100%;
  color: #fbfbfb;
  line-height: 30px;
  background-color: #000; }

.HomePage__home-1rQus .HomePage__header-24tWY {
  text-align: left;
  height: 50px;
  width: 100%;
  color: #fbfbfb;
  line-height: 50px;
  background-color: #666; }

.HomePage__home-1rQus .HomePage__content-2AAXP {
  width: 100%;
  color: #010101; }

