.HomePage__home-10y-b .HomePage__title-1V7oY {
  text-align: center;
  height: 30px;
  width: 100%;
  color: #fbfbfb;
  line-height: 30px;
  background-color: #000; }

.HomePage__home-10y-b .HomePage__header-3EKS4 {
  text-align: left;
  height: 50px;
  width: 100%;
  color: #fbfbfb;
  line-height: 50px;
  background-color: #666; }

.HomePage__home-10y-b .HomePage__content-9rp62 {
  width: 100%;
  color: #010101; }

