._1aBKCfvmIJOyJf_I5Yikfa {
  display: flex;
}
.s-Row0uN7XvbGPHLn32CH {
  height: 100%;
  width: 200px;
  border-right: 1px solid #e8e8e8;
}
._2Ae0AwCDTB_Wo1Kv-A6JVf {
  width: 100%;
  color: #010101;
}

._3SsvmAwfQeQPKyiGWSE7zf {
  padding: 30px;
  font-size: 18px;
  color: #2c3e50;
}
._3SsvmAwfQeQPKyiGWSE7zf ._2WT6OH8d7wGZcVpBAriH77 {
    display: block;
    line-height: 30px;
}

