.home {
  .title {
    text-align: center;
    height: 30px;
    width: 100%;
    color: #fbfbfb;
    line-height: 30px;
    background-color: #000;
  }

  .header {
    text-align: left;
    height: 50px;
    width: 100%;
    color: #fbfbfb;
    line-height: 50px;
    background-color: #666;
  }

  .content {
    width: 100%;
    color: #010101;
  }
}
